<?xml version="1.0"?>
<configuration>
  <appSettings configSource="AppSettings.config"/>  
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\server.svclog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\wwwroot\server_messages.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <trust level="Full"/>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="false"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="false"
                      maxMessagesToLog="3000"
                      maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="myServiceBehavior" name="NatureWorksFridgeMonitoring.WcfRestService">
        <endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding"
            name="webHttpBinding" contract="NatureWorksFridgeMonitoring.IWcfRestService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--
                         ItemsInObjectGraph = (Devices) * (Days) * (Minutes / Day) * 3
                                            = (20) * (6) * (1400) * 3
                                            = 504000
                    -->
          <dataContractSerializer maxItemsInObjectGraph="504000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <!--http://www.iis.net/configreference/system.webserver/staticcontent/clientcache-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:00:00" />      
    </staticContent>
  </system.webServer>
</configuration>