<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="data_store_directory" value="App_Data"/>
    <add key="flot_data_set_refresh_interval_in_minutes" value="5.0" />
    <add key="chart_resolution_in_minutes_high_resolution" value="1.0"/>
    <add key="chart_resolution_in_minutes_low_resolution" value="120.0"/>
    <add key="system_settings_file_name" value="systemSettings.txt"/>
    <add key="error_log_file_name" value="errorLog.txt"/>
    <add key="email_log_file_name" value="emailLog.txt"/>
    <add key="flot_data_set_file_name" value="flotDataSet.txt"/>
    <add key="days_to_keep_log_file_records" value="31" />
    <add key="email_from_address" value="shaun@bigfont.ca"/>
    <add key="email_from_name" value="NW Fridge Monitoring"/>
    <add key="email_smtp_host" value="mail.bigfont.ca"/>
    <add key="email_smpt_username" value="shaun@bigfont.ca"/>
    <add key="email_smpt_password" value="ka807kIV5aAj"/>
    <add key="bcc_address_csv" value="admin@shaunluttin.com"/>
    <add key="thermometer_xml_node_name" value="owd_DS18B20" />
    <add key="timezone_offset" value="-8" />
    <add key="base_url" value="owd_DS18B20" />
    <add key="username" value="admin"/>
    <add key="password" value="An377%"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Temp\server.svclog"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\wwwroot\server_messages.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.web>
    <trust level="Full"/>
    <compilation debug="false" targetFramework="4.0"/>
    <customErrors mode="Off"></customErrors>
  </system.web>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true"
                      logMalformedMessages="false"
                      logMessagesAtServiceLevel="true"
                      logMessagesAtTransportLevel="false"
                      maxMessagesToLog="3000"
                      maxSizeOfMessageToLog="2000"/>
    </diagnostics>
    <services>
      <service behaviorConfiguration="myServiceBehavior" name="NatureWorksFridgeMonitoring.WcfRestService">
        <endpoint address="" behaviorConfiguration="webHttp" binding="webHttpBinding"
            name="webHttpBinding" contract="NatureWorksFridgeMonitoring.IWcfRestService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexHttpBinding"
            contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="myServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--
                         ItemsInObjectGraph = (Devices) * (Days) * (Minutes / Day) * 3
                                            = (20) * (6) * (1400) * 3
                                            = 504000
                    -->
          <dataContractSerializer maxItemsInObjectGraph="504000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <!--http://www.iis.net/configreference/system.webserver/staticcontent/clientcache-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="0.00:00:00" />      
    </staticContent>
  </system.webServer>
</configuration>